<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="proxecto fin de ciclo 2019 - a.carballeira.ourense">
        <meta name="author" content="huangho.ourense">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

               
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/base.estilos.css') }}" rel="stylesheet">
        

        {% block stylesheets %}{% endblock %}
    </head>
    {% block body %}
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('productos') }}"><img style="width: 3vh;" src="{{ asset('img/logos/icon_options.png') }}" alt="Options"></a>
          <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('img/logos/bardesushi_logo2.png') }}" alt="BARdeSuSHI"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">              
              <li clas="nav-item">
                <a class="nav-link" href="{{ path('homepage')}}">Home</a>
              </li>
              <li clas="nav-item">
                <a class="nav-link" href="{{ path('menupage')}}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('contactopage') }}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('pedidos') }}">Pedidos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Galería
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="{{ path('galeria') }}">Entrantes</a>
                  <a class="dropdown-item" href="{{ path('galeria') }}">Sashimi</a>
                  <a class="dropdown-item" href="{{ path('galeria') }}">Tartar</a>
                  <a class="dropdown-item" href="{{ path('galeria') }}">Niguiri</a>
                  <a class="dropdown-item" href="{{ path('galeria') }}">Hosomaki</a>
                  <a class="dropdown-item" href="{{ path('galeria') }}">Uramaki</a>                  
                </div>
              </li>              
  {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Producto
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">                  
                  <a class="dropdown-item" href="{{ path('editproducto') }}">Nuevo</a>
                  <a class="dropdown-item" href="{{ path('productos') }}">Listar</a>
                  <a class="dropdown-item" href="blog-post.html">Buscar</a>
                </div>
              </li>
  {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('aboutpage')}}">About us</a>
              </li>
  {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link" style="color: red" href="{{ path('logout')}}">logout</a>
              </li>
  {% endif %}
            </ul>
          </div>
        </div>
        </nav>

    {% block content %}{% endblock %}
    {% endblock %}

        <!-- Footer -->

        <div class="footer">
          <div class="container">
              <div class="fixed-bottom text-center text-primary bg-dark py-3">Creative Commons 2019:
                  <a href="http://bardesushi.enxebreformacion.com"> bardesushi.com</a>
                </div>
          </div>
        </div>

        {% block footer %}{% endblock %}
        
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
